---
layout: default
title: Homepage
---

<div id="home">

  <div class="feed-msg">
      <i>
      This blog shares the stories behind my best finds.<br/>
      Interested in my latest disclosures? <br class="feed-msg-br"/>Check out <a href="https://feed.bugs.xdavidhu.me/" target="_self">the Feed</a>.
      </i>
  </div>

  <ul class="posts">
    {% for post in paginator.posts %}
    <li itemscope itemtype="http://schema.org/BlogPosting">
      <a href="{{ site.baseurl }}{{ post.url }}" itemprop="url" target="_self">
        <div class="p-wrap">
          <article class="inner">
            <time datetime="{{ post.date | date_to_xmlschema }}"
                itemprop="datePublished">
              {% if post.priority-tag %}
                {{ post.priority-tag }}
              {% else %}
                <span class="priority">{{ post.priority }}</span>
              {% endif %}
              - {{ post.date | date_to_string }}
            </time>
            <p itemprop="name headline">{{ post.title }}</p>
          </article>
        </div>
      </a>
    </li>
    {% endfor %}
    {% assign psize = site.posts | size %}
    {% if psize == 0 %}
      <div style="text-align: center;padding-top:5em"><h2>No wirteups yet. ¯\_(ツ)_/¯</h2></div>
    {% endif %}
  </ul>
</div>

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.next_page %}
  <a href="{{ site.baseurl }}/page/{{paginator.next_page}}" class="older" target="_self">Older</a>
  {% else %}
  <span class="next">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
    <a href="{{ site.baseurl }}/" class="newer" target="_self">Newer</a>
    {% else %}
    <a href="{{ site.baseurl }}/page/{{paginator.previous_page}}" class="newer" target="_self">Newer</a>
    {% endif %}
  {% else %}
  <span class="previous">Newer</span>
  {% endif %}
</div>
{% endif %}
