<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
      <title>{{ site.name }} - {{ site.description }}</title>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta http-equiv="content-language" content="en-gb" />
      <meta name="description" content="{{ site.description }}">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <link href="//fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700|Lora:400,700,400italic|Overpass+Mono" rel="stylesheet" type="text/css">
      <link rel="stylesheet" type="text/css" href="{{ site.baseurl| split: '/' | join:'/' }}/css/main.css" />
      <link rel="alternate" type="application/atom+xml" title="bugs.xdavidhu.me" href="/feed.xml">
      <base target="_blank">
      {% if page.twitter-image %}
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:site" content="@xdavidhu" />
      <meta name="twitter:creator" content="@xdavidhu" />
      <meta name="twitter:title" content="{{page.title}}" />
      <meta name="twitter:image" content="{{site.url}}{{page.twitter-image}}" />
      <meta name="twitter:image:alt" content="Preview image of the blog post." />
      {% endif %}
  </head>

  <body>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->


    <div class="site-wrapper">

      <header {% if page.url == "/" %}class="header-border"{% endif %}>
        <div class="h-wrap">
          <h1 class="title"><a href="{{ site.baseurl | split:'/' | join:'/' | append:'/'  }}" title="Back to Homepage" target="_self"><span class="title-normal">{{ site.name }}</span><span class="title-small">{{ site.name | slice: 0, 4 }}</span></a></h1>
          <div class="menu-icon"><a class="back" title="back to xdavidhu.me" href="https://xdavidhu.me" target="_self"></a></div>
        </div>
      </header>

      <main>
        {{ content }}
      </main>

      <footer>
        <small></small>
      </footer>

    </div>
    {% comment %} site-wrapper {% endcomment %}

    <script src="{{ site.baseurl }}/js/main.js"></script>

  </body>
</html>
